.task_list {
    width: 700px;
    position: relative;
    left: -450px;
}
.task_list_active {
}
.tasks_primary {
    background-color: darkseagreen;
}
.tasks_secondary {
    background-color: rosybrown;
}